<html>
    <head>
    <meta charset='utf-8' />
    <title>SATURDAY</title>
    <link rel="shortcut icon" href="/images/favicon.ico">
    <link rel="icon" href="/images/favicon.ico">

        <link href='/packages/core/main.css' rel='stylesheet' />
        <link href='/packages/daygrid/main.css' rel='stylesheet' />
        <link href='/packages/timegrid/main.css' rel='stylesheet' />
        <link href='/packages/list/main.css' rel='stylesheet' />
        <link rel="stylesheet" href="/stylesheets/footer.css">

        <script src='/packages/core/main.js'></script>
        <script src='/packages/interaction/main.js'></script>
        <script src='/packages/daygrid/main.js'></script>
        <script src='/packages/timegrid/main.js'></script>
        <script src='/packages/list/main.js'></script>
        <script src="/javascripts/jquery-3.5.1.min.js"></script>

    <style>
        body {
            height: 100%;
            margin: 40px 10px;
            padding: 0;
            font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
            font-size: 14px;
        }
        #calendar {
            max-width: 830px;
            margin: 0 auto;
            background-color: white;
        }
    </style>
    </head>

    <body>
        <div style="width: 100%; height: 150px;"> 
            <header id="fixHeader"></header>
        </div>
        
        <div id='calendar'></div>

        <table style="display: none;">
            <% data.forEach((data, index)=>{ %>
                <tr>
                    <td id="len"><%= len %></td>
                    <td id="<%=index%>title"><%= data.title %></td>
                    <td id="<%=index%>date"><%=moment(data.date).format('YYYY-MM-DD')%></td>
                </tr>
            <% }); %> 
        </table>

        <footer id="footer">
            <div class="contain">
                <div class="foot-info">
                    <address>
                        (주)내일은 토요일 
                        <span class="bar">|</span>   
                        서울 강동구 천호대로 지하 997  
                        <span class="bar">|</span> 
                        Tel     : 010-1234-5678 
                        <span class="bar">|</span> 
                        E-mail  : tmrwMaster@gmail.com  
                        <br>
                        Copyright © 2021 (주)내일은 토요일. All Right Reserved.
                    </address>
                </div>	
                <div
                    id="kakao-talk-channel-chat-button"
                    data-channel-public-id="_DiNpK"
                    data-title="question"
                    data-size="small"
                    data-color="mono"
                    data-shape="pc"
                    data-support-multiple-densities="true"
                >
                </div>			
            </div>	
        </footer>  
    
        <script>
            window.kakaoAsyncInit = function() {
              Kakao.Channel.createChatButton({
                container: '#kakao-talk-channel-chat-button',
              });
            };
          
            (function(d, s, id) {
              var js, fjs = d.getElementsByTagName(s)[0];
              if (d.getElementById(id)) return;
              js = d.createElement(s); js.id = id;
              js.src = 'https://developers.kakao.com/sdk/js/kakao.channel.min.js';
              fjs.parentNode.insertBefore(js, fjs);
            })(document, 'script', 'kakao-js-sdk');
          </script>
        <script src="/javascripts/calendar.js"></script> 
    </body>
</html>